.classpath
.settings/
.project
target/
*.log
*.tar.gz
release/
.idea/
.idea/*
*.iml
*.zip
*.jar
generated-sources/
dependency-reduced-pom.xml
__pycache__
*.pyc
log
.factorypath
metals*
.bloop
.vscode
*.idea
